body{
  background: rgb(46, 46, 46); 
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}



.Logo {
  background-image: url(./images/logo.jpg);
}

span{
  color: rgb(202, 53, 53);
}

.headWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
}

.headWrapper h1{
  font-size: 3rem;
  /* background-color: rgb(139, 5, 5); */
  color: whitesmoke;
  padding: 11px 10px;
  padding-right: 5px;
  border-radius: 15px;
}


.pageWrapper{
  padding: 20px 60px;
  margin: 0 40px;
  padding-bottom: 200px;
  background-color: rgb(54, 54, 54);
}