.navWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navList{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
    border-radius: 10px;
    padding: 15px;
}


.navList li{
    list-style-type: none;
    margin: 0 5px;
    color: black;
}

.link{
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(189, 189, 189);
    background-color: rgb(128, 17, 17);
    border-radius: 5px;
    padding: 15px 25px;
}

.link:hover{
    background-color: rgb(219, 35, 35);
    padding: 17px 27px;
}