.loginWrapper{
    display: flex;
    justify-content: center;
    align-items: left;
    padding-top: 30px;
    flex-direction: column;
}

input {
    margin: 5px 20px;
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(128, 128, 128);
    color: rgb(22, 22, 22);
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(58, 58, 58);
    opacity: 1; /* Firefox */
  }

.errorMess{
    color: rgb(233, 181, 181);
    margin-left: 20px;
}

textarea:focus, input:focus{
    outline: none;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 30px;
}

.signin{
    width: 80px;
    height: 30px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    margin: 15px 20px;
    background-color: rgb(202, 53, 53);
    font-size: 18;
    font-weight: 600;
    color: rgb(194, 194, 194);
}