div {
    color: rgb(156, 156, 156);
}
h1,h2{
    margin:10px;
}

p{
    margin:10px;
    font-size: 16px;
}

h3{
    background-color: rgb(238, 255, 0);
    color: rgb(204, 250, 0);
}

h4{
   color:red;
   opacity: 1%;
}

